$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$background-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$primary-border-color: #ececec;
$secondary-border-color: #eeeeee;
$border-color-clients: #afb1b8;
$bg-color-img: rgba(47, 48, 58, 0.8);
$bg-modal: rgba(0, 0, 0, 0.2);
$hover-button: #188ce8;

$card-set-gap: 30px;

$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
